#SearchByPatient .combo-box {
  .input-container {
    border-bottom: none;
    background-color: #e2e6ea;
    font-size: 16px;
    border-radius: 3px;
  }
  input {
    background-color: #e2e6ea;
  }
  .icon-container {
    display: none;
  }
}

#Schedule {
  padding: 20px;
}
