@import '../../../../shared/Variables';
@import '../../../../shared/Colors';
@import '../../../../shared/FontSizes';

.modal {
  .patient-details-info-container {
    position: relative;
    padding: $spacing-8 $spacing-8;
  }

  .patient-details-info {
    width: 50%;
    padding: $spacing-2 0 0 $spacing-5;
    display: inline-block;
  }

  .patient-details-delete-btn {
    position: absolute;
    right: $spacing-8;
  }

  .patient-details-name {
    font-size: 24px;
    line-height: 24px;
    color: $helper-grey;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .patient-details-info-text {
    font-size: $title-en;
    line-height: $title-en;
    color: $helper-grey;
    font-weight: 500;
  }

  .patient-details-info-list {
    margin-top: $spacing-5;
  }

  .patient-details-info-item {
    margin-bottom: $spacing-4;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    .patient-details-info-text {
      margin-left: $spacing-8;
      letter-spacing: 1px;
    }
  }

  .patient-details-delete-btn {
    border: 1px solid $vezeeta-red;
    border-radius: 4px;
    width: 140px;

    .text-container {
      min-width: 100%;

      label {
        color: $vezeeta-red;
        font-size: $heading-en;
        line-height: $heading-en;
      }
    }
  }
}
