@import '../../../shared/Colors';
@import '../../../shared/Variables';
@import '../../../shared/FontSizes';

.search-field {
  position: relative;
  width: 100%;
}
.search-field > input {
  width: 92%;
  height: 100%;
  margin: 0px auto;
  padding: $spacing-3 $spacing-2 $spacing-3 $spacing-8;
  color: $default-grey;
  background-color: $light-grey;
  border: none;
  border-radius: $border-radius;
  font-size: $subheading-en;
  font-weight: 600;
}

.lense-icon {
  position: absolute;
  top: 14px;
  left: $spacing-2;
}